extends c

snippet main "" b
#include <iostream>
using namespace std;

int main()
{
	cout << "TEST" << endl;	
	return 0;
}
endsnippet

snippet print "#include <iostream>"
cout << ${VISUAL}$1 << endl;	
$0
endsnippet
