priority 1

snippet makec
CC = ${1:gcc}
CFLAGS = ${2:-Wall}

${3:name}: $3.c
	$(CC) $3.c \$(CFLAGS) -o $3 
$0
endsnippet
snippet newc
${1:name}: $1.c
	$(CC) $1.c \$(CFLAGS) -o $1 
$0
endsnippet
snippet makecpp
CC = ${1:g++}
CFLAGS = ${2:-Wall}

all:
	$(CC) -o ${3:main} \$(CFLAGS) 
$0
endsnippet
snippet newcpp
${1:name}: $1.cpp ${2:$1.h}
	$(CC) -c $1.cpp \$(CFLAGS) 
$0
endsnippet
