snippet article "Tex document" b
\documentclass[a4paper, ${1:fontsize}pt]{article}
\begin{document}

\title{${2:Name of paper}}
\author{${3:Tobias Schwalbe}}

\maketitle


$0

\end{document}
endsnippet
