priority 1

snippet " "New block"
" ---- [${1:0.0}] ${2:Name} ----
$0${VISUAL}
" --------------------
endsnippet

snippet if "if" b
if ${1:1}
	${0:${VISUAL}}
endif
endsnippet

snippet "func?t?i?o?n?|method" "function" br
function! ${1:FunctionName}(${2:param})
	${0:${VISUAL}}
endfunction
endsnippet
