priority 1

global !p
from snippetHelpers import *
endglobal

# Only for all
# Notes snippets

snippet "var(\w+)" "variable into examplevar" r
{`!p snip.rv = match.group(1)`}
endsnippet

snippet "opt(\w+)" "variable into examplevar" r
{`!p snip.rv = match.group(1)`?}
endsnippet
